//- .media
//-   .media-body
//-     h4 Marco Volpi
//-     p Healthcare is good like brushing one's teeth.
//- .media
//-   .media-body
//-     h4 Marco Volpi
//-     p Healthcare is good like brushing one's teeth.

each comment in comments
  .media
    .media-body
      h4= comment.name
      p= comment.description
