extends layout

block content  
  nav.navbar.navbar-default
    a.navbar-brand(href="/profile") MenloPolitico
    a.btn.btn-info.navbar-btn.pull-right(href="/logout") Sign out
    
    p.navbar-text.pull-right Signed In
      
  include topic/create
