block content
  nav.navbar.navbar-default
    a.navbar-brand MenloPolitico

    p.navbar-text Signed in as 
        a.navbar-link Marco Volpi

  h1= title
  link(rel="stylesheet" href="http://localhost:3000/components/bootstrap/dist/css/bootstrap.css")
  p Welcome to #{title}
  div.panel.panel-primary
    div.panel-body What do we think about the new republican Health Care Plan?
  div.panel.panel-primary
    div.panel-body Works  
    